body {
    font-family: "Lato", sans-serif;    
} 

  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 18px 18px 18px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: aqua;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .name {
     /* padding-left: 200px; */
    padding:190px 5px 5px 490px;
    text-decoration: none;
    font-size: 20px;
    color: dimgrey;
    display: block;
}

.yoyo {
  /* padding-left: 200px; */
 padding:20px 5px 5px 900px;
 text-decoration: none;
 font-size: 12px;
 color:#111111;
 display: block;
}

.yes {
    text-decoration: none;
   font-size: 22px;
   position:absolute; TOP:20px; LEFT:420px; width:500px; height:150px
}

.one {
    text-decoration: none;
   font-size: 16px;
   position:absolute; TOP:200px; LEFT:250px; width:500px; height:2000px
}
.two {
    text-decoration: none;
   font-size: 16px;
   position:absolute; TOP:320px; LEFT:250px; width:500px; height:2000px
}
.three {
    text-decoration: none;
   font-size: 16px;
   position:absolute; TOP:420px; LEFT:250px; width:500px; height:2000px
}
.four {
    text-decoration: none;
   font-size: 16px;
   position:absolute; TOP:500px; LEFT:250px; width:500px; height:2000px
}

.five {
    text-decoration: none;
   font-size: 16px;
   position:absolute; TOP:580px; LEFT:250px; width:500px; height:2000px
}

 
  @media screen and (max-width: 600px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }